<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>로그인</title>
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">


    <!-- 상단 표시창 시작-->
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index">홈으로 가기</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" action="top_search" method="post">
            {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" id="search" type="text" placeholder="종목 검색" aria-label="Search for..." aria-describedby="btnNavbarSearch" name="search"/>
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                {% if request.session.sessionid == None %}
                <li class="nav-item dropdown">
                    <li><a class="nav-link" href="login" aria-expanded="false" >로그인</a></li>
                    <li><a class="nav-link" href="register" aria-expanded="false">회원 가입</a></li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{request.session.sessionid}}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="my">관심 종목</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="update">개인 정보 수정</a></li>
                        <li><a class="dropdown-item" href="logout">로그 아웃</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="registerdel" style="color:red">회원 탈퇴</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- 상단 표시창 끝-->


        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">로그인</h3></div>
                                    <div class="card-body">


                                        {% if request.session.sessionremember == None %}
                                        <form action="loginimpl" method="post">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" name="inputEmail"/>
                                                <label for="inputEmail">이메일 주소</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="inputPassword"/>
                                                <label for="inputPassword">비밀번호</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberdel" type="hidden" value="Rememberdel" name="inputRemember"/>
                                                <input class="form-check-input" id="inputRemember" type="checkbox" value="Remember" name="inputRemember"/>
                                                <label class="form-check-label" for="inputRemember">이메일, 비밀번호 저장</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password">비밀번호 찾기</a>
                                                <input class="btn btn-primary btn-block" type="submit" value="로그인">
                                            </div>
                                        </form>
                                        {% else %}
                                        <form action="loginimpl" method="post">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="rinputEmail" type="email" placeholder="name@example.com" name="inputEmail" value="{{request.session.sessionemail}}"/>
                                                <label for="rinputEmail">이메일 주소</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="rinputPassword" type="password" placeholder="Password" name="inputPassword" value="{{request.session.sessionpwd}}"/>
                                                <label for="rinputPassword">비밀번호</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="rinputRememberdel" type="hidden" value="Rememberdel" name="inputRemember"/>
                                                <input class="form-check-input" id="rinputRemember" type="checkbox" value="Remember" name="inputRemember" checked/>
                                                <label class="form-check-label" for="rinputRemember">이메일, 비밀번호 저장</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password">비밀번호 찾기</a>
                                                <input class="btn btn-primary btn-block" type="submit" value="로그인">
                                            </div>
                                        </form>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
    </body>
</html>
